<div class="container">

  <div class="social-login">
    <button (click)="signInWithFB()" *ngIf="!isLogin" class="btn btn-primary" ><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
  </div>

  <div class="social-login">
    <button (click)="signInWithGoogle()" *ngIf="!isLogin" class="btn btn-danger"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
  </div>

  <div class="social-login">
    <button (click)="signOut()" *ngIf="isLogin" class="btn btn-warning">Logout</button>
  </div>

</div>
